* {
  margin: 0;
  padding: 0;
}

.loaderScreen {
  background-color: rgb(41, 41, 41);

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AfterScreen {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-fill-mode: forwards;
  animation: bgChange 3s linear;
}

@keyframes bgChange {
  0% {
    background-color: rgb(41, 41, 41);
  }

  25% {
    background-color: rgb(37, 37, 37);
  }

  50% {
    background-color: rgb(25, 25, 25);
  }

  75% {
    background-color: rgb(21, 21, 21);
  }

  100% {
    background-color: rgb(12, 12, 12);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 10rem;
}

.Afb {
  color: rgb(49, 49, 49);
  font-size: 20pt;
  font-weight: 900;
  animation: opB 4s linear;
  border-radius: 0.7rem;
  height: 4rem;
  width: 60%;
  padding: 0;
  margin: 0;
  transition: 1s;
  background-color: white;
  z-index: 1;
  margin: 1rem;
}
.Afb:hover {
  transition: 1s;
  cursor: grab;
  background-color: rgb(177, 177, 177);
  color: greenyellow;
  width: 80%;
  font-size: 25pt;
  border-radius: 1rem;
  height: 5rem;
  z-index: 2;
}

.buttonContainer:hover > :not(:hover) {
  opacity: 0.4;
}

@keyframes opB {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.svG {
  background-image: url("../../img/grocery.svg");
  width: 5rem;
  height: 6rem;
  background-repeat: no-repeat;
}

.svGschrift {
  background-image: url("../../img/FrBt.svg");
  width: 15.6rem;
  height: 4rem;
  background-repeat: no-repeat;
}

.logo2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 10rem;
  animation-fill-mode: forwards;
  animation: logoMove 3s linear;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 10rem;
}

@keyframes logoMove {
  0% {
    top: 50rem;
  }

  5% {
    top: 45rem;
  }

  10% {
    top: 40rem;
  }

  15% {
    top: 35rem;
  }

  20% {
    top: 30rem;
  }

  25% {
    top: 25rem;
  }

  30% {
    top: 20rem;
  }

  35% {
    top: 15rem;
  }

  40% {
    top: 10rem;
  }

  45% {
    top: 5rem;
  }

  50% {
    top: 5rem;
  }

  55% {
    top: 6rem;
  }

  60% {
    top: 7rem;
  }

  65% {
    top: 8rem;
  }

  70% {
    top: 9rem;
  }

  75% {
    top: 10rem;
  }

  80% {
    top: 11rem;
  }

  85% {
    top: 12rem;
  }

  90% {
    top: 13rem;
  }

  95% {
    top: 14rem;
  }
  95% {
    top: 15rem;
  }
  95% {
    top: 14rem;
  }
  95% {
    top: 12rem;
  }
  95% {
    top: 11rem;
  }

  100% {
    top: 10rem;
  }
}

/* WELCOME CSS */
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.welcome-header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.welcome-header h1 {
  font-size: 2.5rem;
  text-align: center;
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.welcome-buttons button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #55c57a;
  color: white;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.welcome-buttons button:hover {
  background-color: #7dd892;
}

.form-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  width: 90%;
  max-width: 30rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.form-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  outline: none;
}

.form-container button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #55c57a;
  color: white;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-container button:hover {
  background-color: #7dd892;
}
