.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.filter-btn {
    border: none;
    background: none;
    font-size: 12.8px;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
    padding-left: 1.1px;



}

.filter-btn:active,
.filter-btn:focus {
    color: #333;
    background-color: lightgray;
    /* text-decoration: underline; */

}

.search-container {
    display: flex;
    justify-content: space-between;
    background-color: #40aa54;
    padding: 10px 15px;
}

.input {
    border-radius: 10px;
    right: 10px;
    font-size: 10px;
    width: 180px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    /*  display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); */
    /* grid-gap: 5px; */
}

#react-icon {
    font-size: 40px;
    text-decoration: none;
}